.gradn-frame {
  width: var(--gradnwidth);
  height: var(--gradnheight);
  position: absolute;
  left: calc(50% - var(--gradnwidth) / 2);
  bottom: 50%;
  transform-origin: 50% 100%;
  transition: all 2s;
  /*background-color: #DD8888;*/
}

.graduations .gradnmark {
  width: var(--gradnmarkwidth);
  height: 8%;
  position: relative;
  background-color: #555;
  margin: auto;
}

.gradn-hour .gradnmark {
  width: calc(var(--gradnmarkwidth) * var(--boldwidth));
  background-color: #fff;
}

.gradn-hide .gradnmark {
  display: none;
}

.gradnmark-label {
  color: #aaa;
}
.gradnmark-label.label-min {
  position:absolute;
  top:50%;
  margin-top:-50px;
  margin-left:-0.25em;
  transform: rotate(90deg);
  text-align: center;
}
.gradnmark-label.label-hour {
  color: #eee;
  position:absolute;
  top:50%;
  right:50%;
  margin-top:30px;
  margin-right:-0.35em;
  transform: rotate(90deg);
  text-align: center;
  font-size: xx-large;
}
