:root {
  --clocksize: 70vh;

  --gradnmarkwidth: 18%;
  --boldwidth: 2;

  --gradnwidth: 2%;
  --gradnheight: 49%;

  --handwidth: 1.2%;
  --handheight: 50%;

  --secondwidth: 0.5%;
  --secondheight: 60%;

  --minuteheight: 44%;

  --hourheight: 25%;

  --center-peg-radius: 10px;

  --hrs-color: #c6fec3;
  --min-color: #fac3fe;
  --sec-color: #fedec4;
}

html {
  background: black;
  font-family: "helvetica neue";
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.version {
  color:#999;
}

/*--- Clock Face ---*/

.clock-width {
  width: var(--clocksize);
  height: 30px;
  max-width: 90vw; /* makes layout responsive for mobile*/
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.clock {
  width: var(--clocksize);
  height: var(--clocksize);
  max-width: 90vw; /* makes layout responsive for mobile*/
  max-height: 90vw; /* makes layout responsive for mobile*/
  border-radius: 50%;
  margin: auto;
  position: relative;
  padding-top:4em;
  padding-bottom:4em;
}

.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
}

/*--- Components ---*/

.center-peg {
  padding: calc(var(--center-peg-radius));
  background: white;
  position: absolute;
  top: calc(50% - var(--center-peg-radius));
  left: calc(50% - var(--center-peg-radius));
  border-radius: 50%;
}

.clock-label-container {
  position: absolute;
  display: flex;
}

.past-container {
  height: 75%;
  right: 35%;
}

.to-container {
  height: 75%;
  left: 35%;
}

.date-container {
  height: 100%;
  right: 15%;
}

.clock-label-container .label {
  position: relative;
  color: #ccc;
  margin: auto;
}

.digital-time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top:20px;
  color: #ccc;
}

.chkLabel {
  color: #ccc;
}

.button-container {
  z-index: 1000;
}

.past-to-bg {
  border-radius: 50%;
  background: linear-gradient(.25turn, #00695C 49.5%, #C51162 49.5%) no-repeat;
}
