:root {
  --clocksize: 70vh;

  --gradnmarkwidth: 18%;
  --boldwidth: 2;

  --gradnframewidth: 2%;
  --gradnheight: 49%;

  --handwidth: 1.2%;
  --handheight: 50%;

  --secondwidth: 0.5%;
  --secondheight: 60%;

  --minuteheight: 44%;

  --hourheight: 25%;

  --center-peg-radius: 10px;

  --hrs-color: #c6fec3;
  --min-color: #fac3fe;
  --sec-color: #fedec4;
}

html {
  background: black;
  font-family: "helvetica neue";
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.version {
  color:#999;
}

/*--- Components ---*/

.digital-time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top:20px;
  color: #ccc;
}
